<div class="slide-top">
  <h2 class="header mt-3 ml-4">Near Earth Objects (Asteroids)</h2>
  <div class="row ml-4 mr-4" *ngIf="asteroids.length">
    <div
      class="col-12 col-md-6 col-lg-4 col-xl-4 mb-3"
      *ngFor="let asteroid of asteroids"
    >
      <div class="glass-card card h-100">
        <div class="card-body">
          <h5 style="cursor:pointer" (click)="navToNasaPage(asteroid)" class="card-title" [title]="'View details for ' + asteroid.name + ' on NASA JPL'">
            {{ asteroid.name }} <small>(ID: {{ asteroid.id }})</small>
          </h5>
          <strong>Potentially Hazardous:</strong>
          <span
            *ngIf="
              asteroid.is_potentially_hazardous_asteroid;
              else notHazardous
            "
            class="hazardous"
          >
            <span class="hazard-icon" title="Hazardous Asteroid">
              <svg
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                style="vertical-align: middle; margin-right: 4px"
              >
                <circle cx="12" cy="12" r="10" fill="#ff5252" />
                <path
                  d="M12 7v5"
                  stroke="#fff"
                  stroke-width="2"
                  stroke-linecap="round"
                />
                <circle cx="12" cy="16" r="1.2" fill="#fff" />
              </svg>
            </span>
            <span style="color: #ff5252; font-weight: 600">Yes</span>
          </span>
          <ng-template #notHazardous>
            <span style="color: #1976d2; font-weight: 500">No</span>
          </ng-template>
          <br />
          <p class="card-text">
            <strong>Estimated Diameter (meters):</strong>
            <span
              *ngIf="
                asteroid.estimated_diameter?.meters?.estimated_diameter_max >
                  20000;
                else smallAsteroid
              "
            >
              <span style="font-weight: 700; color: #d32f2f">{{
                asteroid.estimated_diameter?.meters?.estimated_diameter_max
                  | number : "1.0-0"
              }}</span>
              <span title="Crying">😭</span>
              <!-- <br /> -->
              <!-- <img
                src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExODBtYzA1ejU0aXljNGY5Zzh0YXF2dXFieHQ2dnM0aHJnaGw4OWpkMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/bLy8cwoobMGx1uDHkO/giphy.gif"
                alt="Destruction"
                style="
                  width: 400px;
                  height: 200px;
                  vertical-align: middle;
                  margin-right: 4px;
                "
                title="Massive Asteroid!"
              /> -->
            </span>
            <ng-template #smallAsteroid>
              <span style="font-weight: 600; color: #1976d2">{{
                asteroid.estimated_diameter?.meters?.estimated_diameter_max
                  | number : "1.0-0"
              }}</span>
              <span title="Cool">😎</span>
              <!-- <img
                src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExbzY4bnc3ZDl0M3lpaXZzaHhqNTU5YmtrY3l3OWluc200Ymg5bmx5dCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/h2GpJK6ljDJJnLDWUA/giphy.gif"
                alt="Vegeta Scream"
                style="
                  width: 400px;
                  height: 200px;
                  vertical-align: middle;
                  margin-right: 4px;
                "
                title="Small Asteroid!"
              /> -->
            </ng-template>
            <br />
            <strong>Absolute Magnitude (H):</strong>
            <span style="color:#ff9800;font-weight:600;">
              {{ asteroid.absolute_magnitude_h }}
            </span>
            <br />
            <strong>First Observation Date:</strong>
            <span style="color:#1976d2;font-weight:500;">
              {{ asteroid.orbital_data?.first_observation_date || 'N/A' }}
            </span>
            <br />
            <strong>Closest Approach (km):</strong>
            <span
              *ngIf="asteroid.close_approach_data?.length"
              style="color:#43a047;font-weight:600;"
            >
              {{
                asteroid.close_approach_data[0]?.miss_distance?.kilometers
                  | number:'1.0-0'
              }} km
            </span>
            <br />
            <strong>Relative Velocity (km/h):</strong>
            <span
              *ngIf="asteroid.close_approach_data?.length"
              style="color:#d32f2f;font-weight:600;"
            >
              {{
                asteroid.close_approach_data[0]?.relative_velocity?.kilometers_per_hour
                  | number:'1.0-0'
              }} km/h
            </span>
            <br />
            <strong>Orbit Class:</strong>
            <span style="color:#1976d2;font-weight:500;">
              {{ asteroid.orbital_data?.orbit_class?.orbit_class_type || 'N/A' }}
              <span
                style="font-size:0.9em; color:#888;"
                >({{ asteroid.orbital_data?.orbit_class?.orbit_class_description || '' }})</span
              >
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
