.btn-style {
  background: linear-gradient(90deg, #1976d2 0%, #ffb300 100%);
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 2em;
  padding: 0.5em 1.5em;
  font-size: 1em;
  box-shadow: 0 2px 8px 0 rgba(25, 118, 210, 0.1);
  transition: background 0.3s ease, color 0.3s ease;
  cursor: pointer;
  z-index: 2;
  margin: 0em 1em 0em 0em;
}

.btn-style:hover {
  background: linear-gradient(90deg, #ffb300 0%, #1976d2 100%);
  color: #fffde7;
  transition: background 0.3s ease, color 0.3s ease;
}
