<div class="card flex justify-content-center">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <input pInputText type="text" formControlName="month" placeholder="Month" />
    <input pInputText type="text" formControlName="date" placeholder="Date" />
    <button
      pButton
      pRipple
      label="Submit"
      type="submit"
      class="p-button-success"
    ></button>
  </form>
</div>
<br /><br />
<div id="spin" class="card flex justify-content-center">
  <p-progressSpinner ariaLabel="loading"  *ngIf="isLoading"></p-progressSpinner>
</div>
<div id="top" class="card flex justify-content-center">
  <p-card header="Random Facts" [style]="{ width: '360px' }">
    <p *ngIf="!datas">Enter The Date</p>
    <p *ngIf="datas">
      {{ info }}
    </p>
  </p-card>
</div>
