<nav class="glass-navbar" [class.open]="isMenuOpen">
  <div class="navbar-toggle" (click)="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <ul>
    <li
      *ngFor="let item of navItems; let i = index"
      [class.selected]="i === selectedIndex"
      (mouseenter)="expandedIndex = i"
      (mouseleave)="expandedIndex = null"
      (click)="selectNavItem(i, $event)"
      style="position: relative; cursor: pointer"
    >
      <span>{{ item.label }}</span>
      <span *ngIf="item.subItems" style="margin-left: 5px">▼</span>
      <ul *ngIf="expandedIndex == i && item.subItems" class="glass-dropdown">
        <li
          *ngFor="let sub of item.subItems"
          (click)="navigateTo(sub.route, $event)"
        >
          {{ sub.label }}
        </li>
      </ul>
    </li>
  </ul>
</nav>
